* {
	box-sizing: border-box;
}
body {
	font-family: sans-serif;
	background: #E5E5E5;
}
.header {
	max-width: 1440px;
	height: 64px;
	background: #FA8C16;
	margin: auto;
	padding-top: 16px;
	padding-bottom: 16px;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
	margin-bottom: 30px;
}
.header-wrapper {
	max-width: 1200px;
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-nav {
	margin-left: 60px;
	margin-right: auto;
}
.header-menu {
	display: flex;
	margin: 0;
}
.header-menu-item {
	display: inline-block;
	margin-right: 15px;
}
.header-menu-link {
	text-decoration: none;
	font-size: 14px;
	line-height: 22px;
	color: #FAFAFA;
	height: 100%;
}
.header-search {
	width: 237px;
	height: 32px;
	border: 1px solid #D9D9D9;
	border-radius: 4px;
	display: flex;
	overflow: hidden;
	background-color: #fff;
}
.search-input {
	margin-left: 12px;
	width: 82%;
	border: none;
	font-size: 14px;
	line-height: 22px;
	color: #BFBFBF;
}
.search-button {
	display: flex;
	align-items: center;
	cursor: pointer;
	border: none;
	background-color: #fff;
}
.search-input::-moz-placeholder {color: #BFBFBF;}
.search-input::-webkit-input-placeholder {color: #BFBFBF;}
.search-input:-ms-input-placeholder {color: #BFBFBF;}
.search-input::-ms-input-placeholder {color: #BFBFBF;}
.search-input::placeholder {color: #BFBFBF;}

/* Стили постов */


.content {
	max-width: 1200px;
	width: 90%;
	margin: auto;
}
.section {
	max-width: 800px;
}
.main {
	border: 1px solid #E8E8E8;
}
.posts {
	background-color: #fff;
	padding-top: 35px;
	padding-left: 35px;
	padding-right: 35px;
	padding-bottom: 22px;
}
.post-title {
	margin: 0;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: #262626;
}
.post {
	margin-bottom: 10px;
}
.post-text {
	font-size: 14px;
	line-height: 22px;
	color: #262626;
}
.post-tag {
	text-decoration: none;
	margin-right: 10px;
	font-size: 14px;
	line-height: 22px;
	color: #BFBFBF;
}
.post-footer {
	width: 100%;
	background-color: #FAFAFA;;
	border-top: 1px solid #E8E8E8;
	display: flex;
	justify-content: space-between;
}
